<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617698669043-ioqqer8rkgih638t0a2b4d7j1sthg4un.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617698669043-ioqqer8rkgih638t0a2b4d7j1sthg4un</string>
	<key>API_KEY</key>
	<string>AIzaSyBmR0GdEzVHURNZkolqv3i9PSjAvAWaWog</string>
	<key>GCM_SENDER_ID</key>
	<string>617698669043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pixelthings.nousdeuxapp</string>
	<key>PROJECT_ID</key>
	<string>bloum-5456e</string>
	<key>STORAGE_BUCKET</key>
	<string>bloum-5456e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617698669043:ios:dc28c5c4a728eccfb6a286</string>
	<key>DATABASE_URL</key>
	<string>https://bloum-5456e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
